---
title: 快速入门
slug: index
lead: "Less 简介、如何下载并使用、案例等。"
---

{{!-- Getting started
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="getting-started">快速入门</h1>
  </div>
  {{md 'getting-started'}}
</div>



{{!-- Usage
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="using-less">使用 Less</h1>
  </div>
  {{md 'using-less'}}
</div>




{{!-- Downloads
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="download-options">获取 Less.js</h1>
  </div>

  <h2 id="browser-downloads">浏览器下载</h2>
  <a class="btn btn-default" href="{{ less.rawmaster }}/less-{{ less.version }}.min.js">下载 Less.js v{{less.version}}</a>

  <div class="docs-dl-options">
    {{md 'download-options'}}
  </div>

  <div class="cdn-options">
    {{md 'cdn-options'}}
  </div>
</div>



{{!-- License FAQs
================================================== --}}
<div class="docs-section">
  <div class="page-header">
    <h1 id="license-faqs">许可证 FAQs</h1>
  </div>
  <p class="lead">Less.js 基于 Apache 2 许可证发布 (<a href="https://github.com/less/less.js/issues/1029">我们打算将来采用双许可证方式</a>). 版权所有 2009-{{ now "%Y" }}, Alexis Sellier 与 Less 核心小组 (详情请查看 关于). 归结为小块, 它可以用下面的几条进行说明:</p>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h4>准许:</h4>
      <ul>
        <li>自由下载和使用Less.js 的全部或部分代码, 可以用于个人，公司内部或商业用途</li>
        <li>创建或发布包含 Less.js 的产品</li>
      </ul>
    </div>
    <div class="col-12 col-lg-6">
      <h4>禁止:</h4>
      <ul>
        <li>在没有声明版权归属的情况下使用 Less.js 中的任何代码片段</li>
      </ul>
    </div>
  </div>
  <div class="row">
    <div class="col-12 col-lg-6">
      <h4>义务:</h4>
      <ul>
        <li>如果你的产品中包含 Less.js，必须包含一份 Less.js 的版权协议</li>
        <li>在你包含了 Less.js 的产品中明确声明 Less.js 的版权归 Less 核心小组</li>
      </ul>
    </div>
    <div class="col-12 col-lg-6">
      <h4>不需:</h4>
      <ul>
        <li>在你的产品中包含 Less.js 自身或你所修改的源码</li>
        <li>提交你对 Less.js 所做的修改到 Less.js 项目（我们还是鼓励提交对 Less.js 的改进）</li>
      </ul>
    </div>
  </div>
  <p>这份完整的 Less.js 许可证位于 <a href="{{ less.master }}/LICENSE">项目资源库</a> 用于了解更多信息.</p>
</div>
